<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let user of Users">
      <ion-label>
        <h2>{{user.username}}</h2>
        <h4>{{user.email}}</h4>
      </ion-label>

      <div class="item-note" item-end>
        <button [routerLink]="['/update/', user._id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        
        <button ion-button clear (click)="removeUser(user, i)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>


  <ion-row class="bottom" >
    
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/list" tab="list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Users List</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create" tab="create">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Add User</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" (click)="logout()" tab="logout">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

  </ion-row>
  

 
</ion-content>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/list" tab="list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Users List</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create" tab="create">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Add User</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" (click)="logout()" tab="logout">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs> -->

